*.sif
*.DS_Store
Nextflow-wf/.nextflow/
Nextflow-wf/results
Nextflow-wf/results*
Nextflow-wf/sing
Nextflow-wf/work
Nextflow-wf/.nextflow.log*
Nextflow-wf/.nextflow.log
.nextflow.log
Nextflow-wf/nextflow.config
Nextflow-wf/data
Nextflow-wf/*.config
Nextflow-wf/workflows/*.config