singularity {
    enabled = true
}

params {
    outdir = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/Nextflow-wf/results'
    fq1 = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/Nextflow-wf/data/wgs_fastq/H06HDADXX130110.1.ATCACGAT.20k_reads_1.fastq'
    fq2 = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/Nextflow-wf/data/wgs_fastq/H06HDADXX130110.1.ATCACGAT.20k_reads_2.fastq'
    rg = '@RG\\tID:NA12878.H06HDADXX130110.1\\tPL:ILLUMINA\\tPU:H06HDADXX130110.1\\tLB:H06HDADXX130110.1\\tSM:NA12878'
    ref = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/Nextflow-wf/data/reference_hg38/Homo_sapiens_assembly38.fasta'
    bwa_options = '-T 0 -Y'
    prefix = 'NA12878.H06HDADXX130110.1'
    num_gpus = 4
    // params.knownSites = ''
    autosome_interval = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/interval_files/autosome.bed'
    PAR_interval = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/interval_files/PAR.bed'
    chrX_interval = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/interval_files/chrX.bed'
    chrY_interval = '/lustre8/home/yamaken-gaj-pg/Projects/Parabricks-wf/WGSpipeline/interval_files/chrY.bed'
}

process {
    withName: fq2cram {
        containerOptions = '--nv --bind /usr/local/cuda:/usr/local/cuda'
        container = 'docker://hacchy/pbrun-fq2bam:4.0.0-1_v20230412'
        queue = 'igt010'
        executor = 'slurm'
        // 375GBにすると、384000MiBになる
        memory = '375 GB'
    }
}

process { 
    withLabel: haplotypecaller { 
        containerOptions = '--nv --bind /usr/local/cuda:/usr/local/cuda'
        container = 'docker://nvcr.io/nvidia/clara/clara-parabricks:4.0.0-1'
        queue = 'igt010'
        executor = 'slurm'
        memory = '375 GB'
    }
}

